.DS_Store

sdkconfig*

build/

# Don't include our open vim buffers
*.swp

*.sublime-project
*.sublime-workspace

# clangd cache for YCM
.cache/

board_builds/

# symlinked compile_commands in project root for YCM
compile_commands.json

# New component manager for esp-idf 5.0+ will handle downloading components defined in main/idf_component.yml on build
managed_components
dependencies.lock

.venv
configuration_app/dist
